.promo {
    position: relative;
    background-color: color("dark-400");
    padding: vw(80px) 0;

    @include m1() {
        padding: vs(34px) vs(15px);
        border-radius: vs(20px);
        height: vs(450px);
    }
}

.promo__marquee {
    position: absolute;
    padding-block: vw(12px);
    bottom: vw(139px);
    left: 0;
    right: 0;
    overflow: hidden;
    white-space: nowrap;
    background-color: color("dark-100");
    z-index: 2;

    @include m1() {
        padding-block: vs(12px);
        bottom: vs(34px);
    }
}

.promo__marquee-text {
    display: flex;
    gap: vw(12px);
    align-items: center;
    color: color("orange-400");
    text-transform: uppercase;
    animation: marquee 20s linear infinite;

    @include fs20();

    img {
        width: vw(24px);
        height: vw(24px);
        flex-shrink: 0;
    }

    & > * {
        display: flex;
        align-items: center;
        margin-inline: vw(12px);
        gap: vw(12px);
    }

    @include m1() {
        animation: marquee 5s linear infinite;
        gap: vs(12px);

        img {
            flex-shrink: 0;
            width: vs(24px);
            height: vs(24px);
        }

        & > * {
            display: flex;
            align-items: center;
            margin-inline: vs(12px);
            gap: vs(12px);
        }
    }
}

.promo__flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-inline: auto;
    gap: vw(117px);
    width: vw(1082px);

    & > * {
        flex-grow: 0;
    }

    @include m1() {
        width: 100%;
    }
}

.promo__content {
    margin-top: vw(123px);
    width: vw(640px);

    @include m1() {
        margin-top: 0;
        width: 100%;
    }
}

.promo__title {
    color: color("light-400");
    margin-bottom: vw(64px);
    text-align: left;

    @include fs56();

    @include m1() {
        margin-bottom: vs(32px);
        text-align: center;
        width: 100%;
    }
}

.promo__btns {
    display: flex;
    align-items: center;
    gap: vw(8px);

    @include m1() {
        gap: vs(8px);
        flex-direction: column;
    }
}

.promo__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: vw(200px);
    height: vw(60px);
    border-radius: vw(20px);

    img {
        @include image(contain);
    }

    @include m1() {
        width: vs(246px);
        height: vs(55px);
        border-radius: vs(20px);
    }
}

.promo__btn--app {
    background-color: color("orange-400");

    img {
        width: vw(154px);
        height: vw(40px);
    }

    @include m1() {
        img {
            width: vs(154px);
            height: vs(40px);
        }
    }
}

.promo__btn--play {
    background-color: color("blue-400");
    justify-content: flex-start;
    padding-left: vw(30px);

    img {
        width: vw(139px);
        height: vw(32px);
    }

    @include m1() {
        padding-left: 0;
        justify-content: center;

        img {
            width: vs(139px);
            height: vs(32px);
        }
    }
}

.promo__phone {
    flex-shrink: 0;
    position: relative;
    width: vw(324px);
    height: vw(668px);
    background-image: url(../assets/images/phone-frame.png);
    background-size: contain;
    background-repeat: no-repeat;
    flex-grow: 0;

    @include m1() {
        display: none;
    }
}

.promo__logo {
    margin-inline: auto;
    margin-top: vw(180px);
    width: vw(156px);
    height: vw(42px);

    > img {
        @include image();
    }
}

.promo__text {
    margin-block: vw(15px) vw(10px);
    margin-inline: auto;
    width: 80%;
    color: #fe6130;
    text-align: center;
    font-family: "Bold";
    font-size: vw(48px);
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    > img {
        @include image();
    }
}

.promo__icon {
    margin-inline: auto;
    width: vw(75px);
    height: vw(78px);
    > img {
        @include image();
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0%); /* Start from right */
    }
    100% {
        transform: translateX(-100%); /* Move to left */
    }
}
