.qrs {
    text-align: center;

    @include m1() {
        margin-top: vs(96px);
    }
}

.qrs__title {
    margin-bottom: vw(12px);

    @include fs80();

    @include m1() {
        margin-bottom: vs(12px);
    }
}

.qrs__subtitle {
    margin-bottom: vw(56px);

    @include fs24();

    @include m1() {
        margin-bottom: vs(24px);
    }
}

.qrs__flex {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: vw(12px);

    @include m1() {
        flex-direction: column;
        align-items: center;
        gap: vs(8px);
    }
}

.qrs__item {
    position: relative;
    width: vw(547px);

    > img {
        @include image();
    }

    @include m1() {
        width: vs(290px);
    }
}

.qrs__image {
    position: absolute;
    width: vw(165px);
    height: vw(165px);
    left: 50%;
    top: 50%;
    translate: -50% -50%;

    
    > img {
        @include image(contain);
    }
    @include m1() {
        width: vs(165px);
        height: vs(165px);
    }
}
