

.reviews__carousel {
    margin-bottom: vw(24px);
    overflow: hidden;
    overflow: clip;

    @include m1() {
        margin-bottom: vs(24px);
    }
}

.reviews__viewport {
    margin-left: vw(405px);
    display: flex;
    align-items: center;
    gap: vw(16px);
    transition: transform 0.5s ease-in-out;

    @include m1() {
        margin-left: 0;
    }
}

.reviews__item {
    flex: 0 0 vw(1030px);
    padding: vw(56px);
    background-color: color("light-400");
    border-radius: vw(20px);

    @include m1() {
        flex: 1 0 100%;
        padding: vs(24px);
        border-radius: vs(20px);
    }
}

.reviews__title {
    text-align: center;
    margin-bottom: vw(60px);

    @include fs64();

    @include m1() {
        margin-bottom: vs(24px);
    }
}

.reviews__flex {
    display: flex;
    align-items: center;
    gap: vw(60px);

    & > * {
        flex: 1 1 100%;
    }

    @include m1() {
        flex-direction: column;
        gap: vs(12px);
    }
}

.reviews__content {
    @include fs36();

    @include m1() {
        text-align: center;
    }
}

.reviews__opinion {
    @include fs24();

    @include m1() {
        text-align: center;
    }
}

.reviews__image {
    margin-top: vw(24px);
    background-color: color("light-900");
    padding: vw(8px);
    border-radius: vw(20px);
    display: flex;
    align-items: center;
    gap: vw(15px);

    @include m1() {
        flex-direction: column;
        margin-top: vs(16px);
        padding: vs(8px);
        border-radius: vs(20px);
        gap: vs(15px);
    }
}

.reviews__avatar {
    width: vw(128px);
    aspect-ratio: 1/1;
    > img {
        @include image();
    }

    @include m1() {
        width: vs(100px);
    }
}

.reviews__author {

    @include fs24();
}

.reviews__small {
    margin-block: vw(4px) vw(8px);

    @include fs18();

    @include m1() {
        margin-block: vs(4px) vs(8px);
        font-size: vs(18px);
    }
}

.reviews__channels {
    display: flex;
    align-items: center;
    gap: vw(8px);

    @include m1() {
        gap: vs(8px); 
    }
}

.reviews__channel {
    width: vw(54px);
    aspect-ratio: 1/1;

    > img {
        @include image();
    }

    @include m1 () {
        width: vs(54px);
    }
}

.reviews__controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: vw(6px);

    @include m1() {
        gap: vs(6px);
    }
}

.reviews__dot {
    cursor: pointer;
    border: none;
    background-color: rgba(210, 209, 212, 1);
    width: vw(16px);
    height: vw(16px);
    border-radius: 50%;

    &.slide--selected {
        background-color: #bababa;
    }

    @include m1() {
        width: vs(12px);
        height: vs(12px);
    }
}
