.roadmap {
    padding-left:vw(401px);
    overflow-x: scroll;
    overflow-y: hidden;
    overflow-y: clip;

    @include m1() {
        padding-left: 0;
    }
}

.roadmap__desktop {
    display: grid;
    grid-template-rows: vw(268px) vw(191px) vw(268px);

    @include m1() {
        display: none;
    }
}


.roadmap__mobile {
    display: none;

    @include m1() {
        display: grid;
        grid-template-rows: vs(324px) vs(198px);
    }
}



.roadmap__top-items {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    top: vw(56px);
    gap: vw(272px);
}

.roadmap__image {
    z-index: 2;
    background-image: url(../assets/images/roadmap.png);
    background-position: left;

    img {
        @include image(contain);
        @include m1() {
            object-position: left;
        }
        
    }

    @include m1() {
        width: vs(1555px);
        background-image: url(../assets/images/roadmap-mobile.png);
        background-position: left;
    }
}

.roadmap__bottom-items {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: vw(292px);

    .roadmap__item:first-of-type {
        margin-left: vw(325px);
    }
}

.roadmap__item {
    border: vw(2px) solid color('light-400');
    border-radius: vw(15px);
    padding: vw(24px);
    width: vw(323px);

    @include m1() {
        border: vs(2px) solid color('light-400');
        border-radius: vs(15px);
        padding: vs(24px);
        width: vs(220px);

        &:nth-of-type(even) {
            margin-top: vs(50px);
        }
    }
}

.roadmap__title {
    @include fs24();
}

.roadmap__date {
    margin-block: vw(8px) vw(16px);
    color: color('orange-400');
    @include fs18();

    @include m1() {
        font-size: vs(16px);
        margin-block: vs(8px) vs(12px);
    }
}

.roadmap__prg {
    margin-bottom: vw(5px);
    @include fs18();

    @include m1() {
        font-size: vs(16px);
        margin-bottom: vs(5px);
    }
}

.roadmap__ul {
    padding-left: vw(15px);

    @include m1() {
        padding-left: vs(15px);
    }
    li {
        list-style: disc;
        margin-bottom: vw(3px);
        @include fs18();

        @include m1() {
            font-size: vs(16px);
            margin-bottom: vs(3px);
        }
    }
}



.roadmap__items {
    overflow-x: scroll;
    display: flex;
    align-items: flex-start;
    gap: vs(15px);
    position: relative;
    top: vs(71px);
}
