html,
body {
    overflow-x: hidden;
    overflow-x: clip;
    scroll-behavior: smooth;
}

body {
    font-family: "Regular";
    min-height: 100vh;
    background-color: color("light-900");
    color: color();
}

.wrapper {
    margin-inline: auto;
    max-width: 2200px;
}

section {
    margin-bottom: vw(120px);

    @include m1() {
        margin-bottom: vs(48px);
    }
}