@mixin max-width($threshold: $small-screen) {
    @media screen and (max-width: $threshold) {
        @content;
    }
}

@mixin min-width($threshold: $small-screen) {
    @media screen and (min-width: $threshold) {
        @content;
    }
}

@mixin hover() {
    &:is(:hover, :focus-visible) {
        @content;
    }
}

@mixin image($fit: cover) {
    object-fit: $fit;
    object-position: center;
    width: 100%;
    height: 100%;
}

@mixin m1() {
    @media screen and (max-width: $breakpoint1) {
        @content;
    }
}

@mixin fs14() {
    font-family: "Regular";
    font-size: vw(14px);
    font-style: normal;
    font-weight: 500;
    line-height: 115%;

    @include m1() {
        font-size: vs(14px);
    }
}

@mixin fs16() {
    font-family: "Regular";
    font-size: vw(16px);
    font-style: normal;
    font-weight: 500;
    line-height: 120%;

    @include m1() {
        font-size: vs(16px);
    }
}

@mixin fs18() {
    font-family: "Regular";
    font-size: vw(18px);
    font-style: normal;
    font-weight: 400;
    line-height: 120%;

    @include m1() {
        font-size: vs(24px);
    }
}

@mixin fs20() {
    font-family: "Regular";
    font-size: vw(20px);
    font-style: normal;
    font-weight: 500;
    line-height: 100%;

    @include m1() {
        font-size: vs(20px);
    }
}

@mixin fs24() {
    font-family: "Regular";
    font-size: vw(16px);
    font-style: normal;
    font-weight: 500;
    line-height: 120%;

    @include m1() {
        font-size: vs(20px);
    }
}

@mixin fs32() {
    font-family: "Regular";
    font-size: vw(32px);
    font-style: normal;
    font-weight: 500;
    line-height: 120%;

    @include m1() {
        font-size: vs(20px);
    }
}

@mixin fs36() {
    font-family: "Regular";
    font-size: vw(36px);
    font-style: normal;
    font-weight: 500;
    line-height: 110%;

    @include m1() {
        font-size: vs(24px);
    }
}

@mixin fs40() {
    font-family: "Bold";
    font-size: vw(40px);
    font-style: normal;
    font-weight: 700;
    line-height: 120%;

    @include m1() {
        font-size: vs(32px);
        line-height: 100%; 
    }
}

@mixin fs56() {
    font-family: "Bold";
    font-size: vw(56px);
    font-style: normal;
    font-weight: 700;
    line-height: 120%;

    @include m1() {
        font-size: vs(32px);
        line-height: 100%; 
    }
}

@mixin fs64() {
    font-family: "Bold";
    font-size: vw(64px);
    font-style: normal;
    font-weight: 700;
    line-height: 110%;

    @include m1() {
        font-size: vs(40px);
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
    }
}

@mixin fs80() {
    font-family: "Bold";
    font-size: vw(80px);
    font-style: normal;
    font-weight: 700;
    line-height: 120%;

    @include m1() {
        font-size: vs(40px);
    }
}

@mixin fs96() {
    font-family: "Bold";
    font-size: vw(96px);
    font-style: normal;
    font-weight: 700;
    line-height: 120%;

    @include m1() {
        font-size: vs(52px);
    }
}
