// Breakpoints
$breakpoint1: rem(600px);
$breakpoint2: rem(1200px);

// Sizes
$wr-width: rem(1111px);

// Colors

$colors: (
    "dark-400": #26263c,
    "dark-100": #3e3e50,
    "light-400": #faf7f1,
    "light-900": #eae7e2,
    "orange-400": #fe6130,
    "blue-400": #5c5c7f
);
